

ul li{
float : left;
padding : 8.5px;
margin-left: 8px;
margin-top:0px;
color: white;
list-style:none;
height: 15px;
border-radius:3.5px;
left: 0px;
}
ul li .styles:hover{
	color: #f1f1f1;
	font-size:18px;
}
.styles{
	display: block;
text-decoration: none;
color: #f1f1f1;
border:2px solid white;
padding: 2px;
}


#menus{
	position:fixed;
	width:1300px;
	height: 32px;

}
#menus ul{
	margin-left:644px;
	margin-right:auto;
}
#photo{
	margin-top:0px;
	width:auto;
	height: auto;
	margin-right:auto;
}
#registration{
	
	width: 400px;
	height:150px;
	margin-top: 280px;	
	margin-left: 220px;
	border :2px solid white; 
}
.login{
	margin-top: 40px;
	margin-left: 50px;	
	width: 130px;
	height: 30px;
	background-color:transparent;
	border-color: white;
}
.login:hover{
	
		background-color: darkorange;
		transition: all 0.3s ease-in;
	 
}
#text{
	margin-left: 130px;
	margin-top: 2px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: white;

}